annotated-types==0.7.0
attrs==26.1.0
btrfsutil==6.19.1
cffi==2.0.0
cryptography==46.0.7
defusedxml==0.7.1
filelock==3.26.0
Glances==4.5.3
Jinja2==3.1.6
lit==22.1.2.dev0
MarkupSafe==3.0.3
nftables==0.1
orjson==3.11.8
packaging==26.0
psutil==7.2.2
pycairo==1.29.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
PyGObject==3.56.2
QTermWidget==2.3.0
Reflector==2023.6.28.0.36.1
shtab==1.8.0
smbus==1.1
TBB==0.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
wheel==0.46.3
